
.containerMain{
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
}
.containerContent{
    height: 70%;
    width: 80%;
    color: black;
    border: solid black 1px;
    padding: 30px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardslayout{
    width: 100%;
    display: flex;
    justify-content: center;
}